[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = https://github.com/tsaleh/vim-supertab.git
[submodule "vim/vim/bundle/vim-colors-solarized"]
	path = vim/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/vim-commentary"]
	path = vim/vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim/bundle/vim-easymotion"]
	path = vim/vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/vim/bundle/vim-matchit"]
	path = vim/vim/bundle/vim-matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vim/vim/bundle/vim-notes"]
	path = vim/vim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "vim/vim/bundle/vim-repeat"]
	path = vim/vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/vim-space"]
	path = vim/vim/bundle/vim-space
	url = https://github.com/spiiph/vim-space.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/vim-todo-txt"]
	path = vim/vim/bundle/vim-todo-txt
	url = https://github.com/davidoc/todo.txt-vim.git
